:root {
	--primar-color: #E11D3F;
}

.Notifications {
	border: 1px solid var(--primar-color);
	padding: 1rem;
}

.menuItem p {
	right: 3rem;
	position: absolute;
}

[data-notification-type="default"] {
	color: blue;
}

[data-notification-type="urgent"] {
	color: red;
}