:root {
	--primary-color: #E11D3F;
	font: 18px Helvetica, Arial, sans-serif;
}

h1 {
	margin-left: 3rem;
}

.App-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--primary-color);
	border-bottom: 3px solid var(--primary-color);
}

.App-logo {
	height: 200px;
	width: 200px;
}