:root {
	--primary-color: #E11D3F;
	font: 18px Helvetica, Arial, sans-serif;
}

.App-body {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
	padding-top: 1rem;
	min-height: 50vh;
}

.inputs {
	display: flex;
	flex-direction: row;
}

input {
	height: 15px;
	margin-left: 0.2rem;
}

label {
	margin-left: 0.3rem;
}

button {
	height: 21px;
}